.active-book-form{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.book-card{
    flex: 2;
    max-height: 400px;
}
.book-card img{
    margin: 0 auto;
    padding: 10px;
    width: 180px;
}

.comment-feed h2{
    margin: 10px;
    font-size: 1.9rem;
}
.comment-form{
    margin: 8px auto;
    width: 220px;
}
.comment-form textarea{
    resize: none;
}
@media all and (min-width: 750px){
    .active-book-form{
        flex: 1;
    }
    .comment-feed{
        flex: 2;
    }
}


