.main-display{
    background: lightblue;
    width: 100%;
    margin: 0 auto;
    color: black;
    overflow: hidden;
}

.main-display img{
    float: left;
}

.minor-display{
    background: lightgray;
    width:100%;
    overflow: hidden;
}

.minor-display img{
    width: 150px;
    float: left;
}