.App {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.App > *{
    flex: 100%;
}

.aside-contianer{
    border: 2px solid rgb(140, 0, 255);
}

@media all and (min-width: 600px){
    .aside-container{
        flex: 1;
        /* flex: 1 auto; */
    }
    .main-container{
        flex: 3;
    }
}

/* @media all and (min-width: 800px){
    main{
        flex: 2 0px;
    }
} */